.contact__section {
    background: var(--bg-3);
}

.contact__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .3rem;
    align-items: center;
}

.contact__form__wrapper {
    text-align: left;
    background: var(--white);
    padding: 2rem;
    border-radius: 1.5rem;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.1);
}

.contact__form__title {
    font-size: 1.875rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1.5rem;
}

.contact__form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.form__input,
.form__textarea {
    resize: none;
    width: 100%;
    padding: 0.75rem 1rem;
    border: 1px solid #e2e8f0;
    border-radius: 0.75rem;
    font-size: 1rem;
    transition: all 0.3s ease;
    font-family: inherit;
}

.form__input:focus,
.form__textarea:focus {
    outline: none;
    border-color: var(--primary);
    box-shadow: 0 0 0 3px rgba(14, 165, 233, 0.1);
}

.contact__info__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact__info__title {
    font-size: 1.875rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.contact__info__list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.contact__info__item {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.contact__icon {
    background: rgba(14, 165, 233, 0.1);
    padding: 1rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact__icon svg {
    width: 1.5rem;
    height: 1.5rem;
    color: var(--primary);
}

.contact__label {
    font-weight: 600;
    font-size: 1.125rem;
    margin-bottom: 0.25rem;
    text-align: left;
}

.contact__value {
    color: var(--muted);
}

.btn__full {
    width: 100%;
}

@media (width < 756px) {
    .contact__grid{
        gap: 3rem;
        grid-template-columns: repeat(1, 1fr);
    }
}