.destination__section {
    background: var(--bg-2);
}

.destination__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.destination__card {
    height: 400px;
    position: relative;
    border-radius: 1.5rem;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.destination__card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
}

.destination__image {
    width: 100%;
    height: 400px;
    border-radius: 1.5rem;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.destination__card:hover .destination__image {
    transform: scale(1.1);
}

.destination__overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4), transparent);
}

.destination__content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1.5rem;
    color: var(--white);
}

.destination-__ocation {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 0.875rem;
}

.destination__location svg {
    width: 1rem;
    height: 1rem;
}

.destination__title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.destination__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.destination__price {
    font-size: 1.125rem;
    font-weight: 600;
}

.btn__white {
    background: var(--white);
    color: var(--primary);
    padding: 0.5rem 1.5rem;
    border-radius: 9999px;
    transition:  all .3s ease;
}

.btn__white:hover {
    background: var(--primary);
    color:var(--white);
}

@media (width < 938px) {
    .destination__grid{
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (width < 643px) {
    .destination__grid{
        grid-template-columns: repeat(1, 1fr);
    }
}