.hero__section {
    padding: 8rem 1.5rem 5rem;
    background: var(--bg-1);
}

.hero__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    align-items: center;
}

.hero__content {
    text-align: left;
}

.hero__title {
    font-size: 3.75rem;
}

.text__gradient {
    color:var(--primary);
}

.hero__description {
    font-size: 1.25rem;
    color: var(--muted);
    margin-bottom: 2rem;
    line-height: 1.8;
}

.hero__buttons {
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.hero__image__wrapper {
    position: relative;
}

.hero__image {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 1.5rem;
    box-shadow: var(--sh-2);
}

.hero__state__card {
    position: absolute;
    bottom: -1.5rem;
    left: -1.5rem;
    background: var(--white);
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: var(--sh-3);
    display: flex;
    align-items: center;
    gap: 1rem;
}

.stat__icon {
    background: rgba(14, 165, 233, 0.1);
    padding: 0.75rem;
    border-radius: 50%;
}

.stat__icon .svg__icon {
    display: flex;
    width: 1.5rem;
    height: 1.5rem;
    color: var(--primary);
}

.stat__number {
    font-size: 1.5rem;
    font-weight: 700;
}

.stat__label {
    font-size: 0.875rem;
    color: var(--muted);
}

.btn__outline {
    background: transparent;
    color: var(--foreground);
    border: 2px solid var(--foreground);
}

.btn__outline:hover {
    background: var(--secondary);
}

@media  (width < 1125px) {

    .hero__grid{
        grid-template-columns: repeat(1, 1fr)
    }

    .hero__content {
        text-align: center;
    }

    .hero__buttons {
        display: flex;
        gap: 1rem;
        justify-content: center;
        flex-wrap: wrap;
    }
}