@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #0ea5e9;
    --secondary: #e9f2f8;
    --star: #f59e0b;
    --foreground: #272729;
    --muted: #64748b;
    --white: #ffffff;
}

:root{
    --bg-1: linear-gradient(to bottom, var(--secondary), var(--white));
    --bg-2: rgba(240, 249, 255, 0.3);
    --bg-3: linear-gradient(135deg, rgba(14, 165, 233, 0.1), rgba(240, 249, 255, 0.1));
    --sh-1 :0 10px 30px rgba(0, 0, 0, 0.1);
    --sh-2: 0 20px 60px rgba(0, 0, 0, 0.2);
    --sh-3: 0 10px 30px rgba(0, 0, 0, 0.15);
    --sh-4: 0 4px 15px rgba(0, 0, 0, 0.08);
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    line-height: 1.6;
    color: var(--foreground);
    overflow-x: hidden;
}

.section__container{
    padding: 5rem 1.5rem;
}

.btn {
    padding: 0.75rem 2rem;
    border-radius: 9999px;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    border: none;
    outline: none;
}

.btn__primary {
    transition: .3s ease;
    background: var(--primary);
    color: var(--white);
}

.btn__primary:hover {
    filter: brightness(75%);
}


li{
    list-style: none;
}

a{
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.5rem;
}